.img {
  max-width: 70px;
  max-height: 100px;
  object-fit: cover;
  padding-left: 5px;
}
.wrapper {
  display: grid;
  grid-template-rows: 1fr 15fr;
  grid-template-columns: 2fr 14fr;
  grid-template-areas:
    "h h"
    "n m";
  gap: 15px;
}
.header {
  grid-area: h;
  background-color: rgb(234, 241, 241);
}
.nav {
  grid-area: n;
  background-color: rgba(206, 71, 71, 0.182);
  align-self: start;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  opacity: 0.5;
  height:100vh;
}
.main {
  display: grid;
  grid-area: m;
  background-color: rgb(219, 227, 219);
  grid-template-rows: 20% 20% 60%;
  grid-template-columns: 100%;

  grid-template-areas:
    "main "
    "user"
    "input";
  gap: 25px;
}
.list-item {
  font-size: 22px; 
  padding-top: 20px;
  padding-left: 10px;
}
.item {
  padding-top: 20px;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 300ms;
}
a {
  color: black
  transition-duration: 0.3s;
}
a:visited {
  color: rgba(11, 2, 2, 0.956)
}
a:hover {
  color: blue;
}

.pad {
  padding-top: 70px;
}
.main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-logo {
  grid-area: main;
}
.user {
  grid-area: user;
  display: flex;
  flex-direction: row;
}
.input {
  grid-area: input;
}
.user-img {
  width: 150px;
  max-height: 150px;
  object-fit: cover;
  padding-left: 5px;
}
.user-flex {
  padding-left: 20px;
}
.user__info {
  padding-top: 10px;
  font-weight: 400;
  font-size: 17px;
  color: black;
}
.nick {
  font-weight: 700;
  font-size: 22px;
}
