.lol {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}
.title {
  font-size: 24px;
  font-weight: bold;
}
.btn{
    padding: 5px 5px;
    display: block;
    border: 1px solid blue;
    border-radius: 4px;
}
.btn1{
    margin-top: 10px;
}